// Simple Resets
// * Lightweight boilerplate CSS resets.
// * Resets font sizes
// * Sets border-box box sizing
// * Resets lists
// * Sets simple container based on Google Material Design Breakpoints
//
// Created by Peter Court
// Email: pc@petercourt.com


* {
  box-sizing: border-box;
}

// Simple Spacing
body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
li,
ol,
p,
textarea,
ul {
  margin: 0;
  padding: 0;
}


// Simple Lists
ul {
  list-style: none;
  text-decoration: none;
}

// Simple Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
}

// Simple Button
button {
  border: 0;
  outline: none;
}

// Simple Utilities
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}


// Simple Container
$breakpoint-small: 30em; // 480px
$breakpoint-medium: 45em; // 720px
$breakpoint-large: 60em; // 960px

.container {
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 100%;
    max-width: 30em;
  }
  @media only screen and (min-width: $breakpoint-medium) {
    width: 100%;
    max-width: 45em;
  }
  @media only screen and (min-width: $breakpoint-large) {
    width: 100%;
    max-width: 60em;
  }
}
